In [40]:
import pandas as pd
import random

In [28]:
# Veut dire que c’est un passage par adresse des 3 variables IX, IY et IZ.
# 3 variables entières qu’il faut initialiser avant le 1er appel de la fonction.
# Veut dire que la fonction est typée, elle retourne un nombre réel.
def alea(IX, IY, IZ):
    # Déclaration d’une variable inter de type réel
    inter = 0.0
    # A chaque exécution de la fonction, les valeurs des 3 variables sont recalculées, d’où un passage par adresse.
    # % : division entière
    # // : reste de la division entière
    IX = 171 * (IX % 177) - 2 * (IX // 177)
    IY = 172 * (IY % 176) - 35 * (IY // 176)
    IZ = 170 * (IZ % 178) - 63 * (IZ // 178)
    # S’il y a un dépassement de capacité sur une variable, on ajoute un nombre très grand, pour la machine 16 bits,
    # pour ramener à une valeur positive. Ce qui marche sur une machine 16 bits marche sur une 32 ou 64 bits.
    if IX < 0:
        IX = IX + 30269
    if IY < 0:
        IY = IY + 30307
    if IZ < 0:
        IZ = IZ + 30323
    inter = ((IX / 30269) + (IY / 30307) + (IZ / 30323))
    return [round(inter - int(inter), 4),IX, IY, IZ]

In [29]:
salaire = [(40000, 30000), (30000, 20000), (20000, 15000), (15000, 10000), (10000, 7500), (7500, 5000), (5000, 3000)]
frequenceSalaire = [5, 10, 10, 15, 20, 20, 20]
age = [(62, 53), (52, 41), (40, 31), (30, 21)]
frequenceAge = [30, 30, 20, 20]
embauche = [(21, 22), (23, 24), (25, 28), (29, 32), (33, 35), (36, 40)]
frequenceEmbauche = [5, 20, 25, 25, 20, 5]
totEmp=10000
totRet=1000

In [30]:
def cumuleFrequenceIntervale(frequences):
    cumules = []
    index = 0
    for i in frequences:
        cumules.append([index, i+index])
        index += i
    return cumules

In [31]:
def indexFromTable(cumules, aleaNumber):
    i = 0
    for intervale in cumules :
        if intervale[1] > aleaNumber*100 :
            return i
        i+=1
    return i

In [32]:
df = pd.DataFrame(columns=["id", "age", "salaire", "état"], index=range(0, 11000))

In [56]:
for index, row in df.iterrows():
    if index == 0 :
        IX = 100
        IY = 100
        IZ = 100
    else:
        IX = alea(IX, IY, IZ)[1]
        IY = alea(IX, IY, IZ)[2]
        IZ = alea(IX, IY, IZ)[3]
    salaireIndex = indexFromTable(cumuleFrequenceIntervale(frequenceSalaire), alea(IX, IY, IZ)[0])
    ageIndex = indexFromTable(cumuleFrequenceIntervale(frequenceAge), alea(IX, IY, IZ)[0])
    row["id"] = index+1
    row["salaire"] = random.randrange(salaire[salaireIndex][1], salaire[salaireIndex][0], 100)
    if index <10000:
        row["état"] = "Employé"
        row["age"] = random.randrange(age[ageIndex][1], age[ageIndex][0], 100)
    else:
        row ["état"] = "Retraité"
        row["age"] = random.randint(66, 85)

In [57]:
df.head()

  id age salaire     état
0  1  31    5100  Employé
1  2  41    8200  Employé
2  3  53   21800  Employé
3  4  21    3500  Employé
4  5  21    3500  Employé

In [58]:
df.tail()

          id age salaire      état
10995  10996  73    9300  Retraité
10996  10997  80   38500  Retraité
10997  10998  74    3200  Retraité
10998  10999  77    8800  Retraité
10999  11000  83   22400  Retraité

In [ ]:
pensionnaire65 = pd.DataFrame(columns=["id", "age", "salaire", "pension"])
for index, row in df.iloc[10000:]:
    pensionnaire65.append({"id":row["id"], "age": row["age"], "salaire": row["salaire"], "pension": ((44*2)/100)*row["salaire"]})